<div mat-dialog-title>
    <mat-toolbar color="primary" class="dialog-toolbar">
        <h1>Edit contract #{{ contractId }} ({{ customerName }})</h1>
        <button mat-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</div>

<mat-dialog-content>
    <form [formGroup]="form" class="edit-contract-form">
    <div class="stack-container">

        <div class="form-row">
        <mat-label class="label" for="statusField">Status</mat-label>
        <mat-form-field class="field" id="statusField" appearance="outline">
            <mat-select placeholder="Choose an option..." formControlName="status">
                <mat-option *ngFor="let status of statuses$ | async" [value]="status.name">{{ status.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        
        <div class="form-row">
        <mat-label class="label" for="contractTypeField">Contract Type</mat-label>
        <mat-form-field class="field" id="contractTypeField" appearance="outline">
            <mat-select placeholder="Choose an option..." formControlName="contractType">
                <mat-option *ngFor="let contractType of contractTypes$ | async" [value]="contractType.name">{{ contractType.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        </div>
    
        <div class="form-row">
        <mat-label class="label" for="startDateField">Start Date</mat-label>
        <mat-form-field class="field" id="startDateField" appearance="outline">
            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" placeholder="mm/dd/yyyy">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        </div>
    
        <div class="form-row">
        <mat-label class="label" for="endDateField">End Date</mat-label>
        <mat-form-field class="field" id="endDateField" appearance="outline">
            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" placeholder="mm/dd/yyyy">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
        </div>

        <div class="form-row">
        <mat-label class="quote-label" for="quoteField">Quote</mat-label>
        <mat-form-field class="field-label" id="quoteField" appearance="outline">
            <input matInput type="number" formControlName="quote" readonly>
        </mat-form-field>
        </div>

    </div>
    </form>    
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button color="basic" type="button" mat-dialog-close>Close</button>
    <button mat-flat-button color="primary" class="primary-button" type="button" (click)="update()">Update</button>
</mat-dialog-actions>
